@font-face {
  font-family: "Raleway Regular";
  src: url("../scss/components/fonts/Raleway-Regular.eot");
  src: url("../scss/components/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Regular.woff") format("woff"), url("../scss/components/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../scss/components/fonts/Raleway-Bold.eot");
  src: url("../scss/components/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Bold.woff") format("woff"), url("../scss/components/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Light";
  src: url("../scss/components/fonts/Raleway-Light.eot");
  src: url("../scss/components/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Light.woff") format("woff"), url("../scss/components/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Light Italic";
  src: url("../scss/components/fonts/Raleway-LightItalic.eot");
  src: url("../scss/components/fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-LightItalic.woff") format("woff"), url("../scss/components/fonts/Raleway-LightItalic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Raleway Regular";
}

ul {
  padding-left: 0;
  list-style: none;
}

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .grid__row {
    flex-direction: row;
  }
}
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--1 {
    margin-top: 0;
    flex-basis: 8.3333333333%;
  }
}
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--2 {
    margin-top: 0;
    flex-basis: 16.6666666667%;
  }
}
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--3 {
    margin-top: 0;
    flex-basis: 25%;
  }
}
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--4 {
    margin-top: 0;
    flex-basis: 33.3333333333%;
  }
}
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--5 {
    margin-top: 0;
    flex-basis: 41.6666666667%;
  }
}
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--6 {
    margin-top: 0;
    flex-basis: 50%;
  }
}
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--7 {
    margin-top: 0;
    flex-basis: 58.3333333333%;
  }
}
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--8 {
    margin-top: 0;
    flex-basis: 66.6666666667%;
  }
}
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--9 {
    margin-top: 0;
    flex-basis: 75%;
  }
}
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--10 {
    margin-top: 0;
    flex-basis: 83.3333333333%;
  }
}
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--11 {
    margin-top: 0;
    flex-basis: 91.6666666667%;
  }
}
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--12 {
    margin-top: 0;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px;
  }
}

.form__label--hidden::before {
  content: "\a";
  white-space: pre;
}

.form__input {
  border: none;
}

.form__input:focus {
  outline: none;
}

.form__label--hidden,
.form__input {
  margin-bottom: 4em;
}

.img--logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img--avatar {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 4em;
}

.nav {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

.nav__item {
  color: #4a4a4a;
  width: 100%;
  font-size: 1.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}

.nav__item a {
  color: black;
  text-decoration: none;
  padding: 1em 6em;
}

.nav__item a:hover {
  background-color: #3ce6c9;
  color: white;
}

p {
  color: #5c5c5c;
  font-size: 1.55rem;
}

.headline--secondary {
  color: #5c5c5c;
  font-size: 1.55rem;
  font-family: "Raleway Light";
}

.headline--primary {
  font-family: "Raleway Bold";
  color: #3ce6c9;
  width: 80%;
  padding-left: 0.75em;
  padding-right: 1em;
}

.link {
  font-family: "Raleway Bold";
  text-decoration: none;
  color: #70e5ff;
}

.blockquote {
  font-family: "Raleway Light Italic";
  color: #707070;
  font-size: 2rem;
  padding-left: 0.7em;
  border-left: 10px solid #3ce6c9;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
