/* Media Queries ----------------------*/
/* Flexbox Settings ----------------------*/
/* Links ----------------------*/
/* Images ----------------------*/
/* Nav Items ----------------------*/
/* Fonts ----------------------*/
/* Breakpoints ----------------------*/
/* Colors ----------------------*/
@font-face {
  font-family: "Raleway Regular";
  src: url("../scss/components/fonts/Raleway-Regular.eot");
  src: url("../scss/components/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Regular.woff") format("woff"), url("../scss/components/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../scss/components/fonts/Raleway-Bold.eot");
  src: url("../scss/components/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Bold.woff") format("woff"), url("../scss/components/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Light";
  src: url("../scss/components/fonts/Raleway-Light.eot");
  src: url("../scss/components/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-Light.woff") format("woff"), url("../scss/components/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Light Italic";
  src: url("../scss/components/fonts/Raleway-LightItalic.eot");
  src: url("../scss/components/fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../scss/components/fonts/Raleway-LightItalic.woff") format("woff"), url("../scss/components/fonts/Raleway-LightItalic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Raleway Regular";
}

ul {
  padding-left: 0;
  list-style: none;
}

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .grid__row {
    flex-direction: row;
  }
}
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--1 {
    margin-top: 0;
    flex-basis: 8.3333333333%;
  }
}
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--2 {
    margin-top: 0;
    flex-basis: 16.6666666667%;
  }
}
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--3 {
    margin-top: 0;
    flex-basis: 25%;
  }
}
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--4 {
    margin-top: 0;
    flex-basis: 33.3333333333%;
  }
}
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--5 {
    margin-top: 0;
    flex-basis: 41.6666666667%;
  }
}
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--6 {
    margin-top: 0;
    flex-basis: 50%;
  }
}
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--7 {
    margin-top: 0;
    flex-basis: 58.3333333333%;
  }
}
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--8 {
    margin-top: 0;
    flex-basis: 66.6666666667%;
  }
}
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--9 {
    margin-top: 0;
    flex-basis: 75%;
  }
}
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--10 {
    margin-top: 0;
    flex-basis: 83.3333333333%;
  }
}
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--11 {
    margin-top: 0;
    flex-basis: 91.6666666667%;
  }
}
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--12 {
    margin-top: 0;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px;
  }
}

.grid__col--12.theme__colors {
  background-color: #8adecd;
}

.grid__col--6.theme__colors {
  background-color: #4e84a6;
}

.grid__col--4.theme__colors {
  background-color: #70e5ff;
}

.grid__col--3.theme__colors {
  background-color: #dbaeeb;
}

.grid__col--5.theme__colors {
  background-color: #81c787;
}

.grid__col--7.theme__colors {
  background-color: #cf8484;
}

.grid__col--8.theme__colors {
  background-color: #f5915f;
}

@media (min-width: 769px) {
  .grid__col--12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.grid__col--12,
.grid__col--6,
.grid__col--4,
.grid__col--3,
.grid__col--5,
.grid__col--7,
.grid__col--8 {
  font-family: "Raleway Bold";
  font-size: 1rem;
  color: #5c5c5c;
  width: 100%;
  display: block;
  padding: 1em 0.7em;
  border-radius: 7px;
}

.btn--default {
  width: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  height: 50px;
  font-family: "Raleway Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background-color: #70e5ff;
}

.btn--default:hover {
  border: 6px solid #adf0ff;
}

.btn--success {
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  height: 50px;
  font-family: "Raleway Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #72b586;
}

.btn--success:hover {
  border: 6px solid #9acaa8;
}

.btn--error {
  width: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  height: 50px;
  font-family: "Raleway Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background-color: #cf6d6d;
}

.btn--error:hover {
  border: 6px solid #de9b9b;
}

.btn--warning {
  width: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  height: 50px;
  font-family: "Raleway Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background-color: #f06f4f;
}

.btn--warning:hover {
  border: 6px solid #f59d87;
}

.btn--info {
  width: 100%;
  color: white;
  border: none;
  border-radius: 7px;
  height: 50px;
  font-family: "Raleway Bold";
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background-color: #946da6;
}

.btn--info:hover {
  border: 6px solid #b093bd;
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  margin-bottom: 1em;
}

.form__label--hidden::before {
  content: "\a";
  white-space: pre;
}

.form__label--hidden {
  display: none;
}

.form__input {
  width: 100%;
  padding-bottom: 0.5em;
  border: none;
  font-family: "Raleway Bold";
  font-size: 1rem;
  color: #5c5c5c;
}

::placeholder {
  text-align: left;
  padding-left: 0.5em;
}

.form__input:focus {
  outline: none;
}

.form__label--hidden,
.form__input {
  margin-bottom: 4em;
  border-bottom: 5px solid #3ce6c9;
}

.img--logo {
  display: block;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .img--logo {
    margin: 0;
  }
}

.img--avatar {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 4em;
}

.img--frame {
  display: block;
  margin: 0 auto;
  padding: 1em 1em;
  border: 1px solid #b8b8b8;
}

.nav {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}
@media (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item {
  font-size: 1.5rem;
  margin-bottom: 0.7em;
}
@media (min-width: 769px) {
  .nav__item {
    font-size: 1rem;
    padding-top: 1.5em;
    padding-left: 1em;
  }
}

.nav__item a {
  display: block;
  padding: 0.5em 0;
  color: black;
  text-decoration: none;
}
@media (min-width: 769px) {
  .nav__item a {
    padding: 0.3em 0.3em;
  }
}

.nav__item a:hover {
  background-color: #3ce6c9;
  color: white;
}

p {
  color: #5c5c5c;
  font-size: 1.55rem;
}

.headline--secondary {
  color: #5c5c5c;
  font-size: 1.55rem;
  font-family: "Raleway Light";
}

.headline--primary {
  font-family: "Raleway Bold";
  color: #3ce6c9;
  width: 80%;
  padding-left: 0.75em;
  padding-right: 1em;
}

.link {
  font-family: "Raleway Bold";
  text-decoration: none;
  color: #70e5ff;
}
@media (min-width: 769px) {
  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.blockquote {
  font-family: "Raleway Light Italic";
  color: #707070;
  font-size: 2rem;
  padding-left: 0.7em;
  border-left: 10px solid #3ce6c9;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
