.form__label--hidden::before {
  content: '\a';
  white-space: pre;
}

.form__label--hidden {
  display: none;
}

.form__input {
  width: 100%;
  padding-bottom: .5em;
  border: none;
  color: $paragraph-text-color;
  font-family: $bold;
  font-size: 1rem;
}

::placeholder {
  padding-left: .5em;
  text-align: left;
}

.form__input:focus {
  outline: none;
}

.form__label--hidden,
.form__input {
  border-bottom: 5px solid $seafoam-green;
  margin-bottom: 4em;
}
