.img--logo {
  @include center;
  @media (min-width: $break-s) {
    margin: 0;
  }
}

.img--avatar {
  @include center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.img--frame {
  @include center;
  padding: 1em 1em;
  border: 1px solid #b8b8b8;
}
