.img--logo {
  @include center;
  @include media-query(m) {
    margin: 0;
  }
  @include media-query(l) {
    width: 200px;
  }
}

.img--avatar {
  @include center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.img--frame {
  @include center;
  padding: 1em 1em;
  border: 1px solid #b8b8b8;
}
