p {
  @include paragraph;
}

.headline--secondary {
  @include paragraph;
  font-family: $light;
}

.headline--primary {
  font-family: $bold;
  color: $seafoam-green;
  width: 80%;
  padding-left: .75em;
  padding-right: 1em;
}

.link {
  font-family: $bold;
  text-decoration: none;
  color: $bright-blue;
  @media (min-width: $break-s) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.blockquote {
  font-family: $light-italic;
  color: $block-quote-color;
  font-size: 2rem;
  padding-left: .7em;
  border-left: 10px solid $seafoam-green;
  border-radius: 5px;
}
