p {
  @include paragraph;
}

.headline--secondary {
  @include paragraph;
  font-family: $light;
}

.headline--primary {
  width: 80%;
  padding-left: .75em;
  padding-right: 1em;
  color: $seafoam-green;
  font-family: $bold;
}

.link {
  color: $bright-blue;
  font-family: $bold;
  text-decoration: none;
  @include media-query(m) {
    @include flexy;
    justify-content: space-between;
  }
}

.blockquote {
  padding-left: .7em;
  border-left: 10px solid $seafoam-green;
  border-radius: 5px;
  color: $block-quote-color;
  font-family: $light-italic;
  font-size: 2rem;
}
