@font-face {
  font-family: 'Raleway Regular';
  src: url('../scss/components/fonts/Raleway-Regular.eot');
  src: url('../scss/components/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../scss/components/fonts/Raleway-Regular.woff') format('woff'),
       url('../scss/components/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../scss/components/fonts/Raleway-Bold.eot');
  src: url('../scss/components/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('../scss/components/fonts/Raleway-Bold.woff') format('woff'),
       url('../scss/components/fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Light';
  src: url('../scss/components/fonts/Raleway-Light.eot');
  src: url('../scss/components/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('../scss/components/fonts/Raleway-Light.woff') format('woff'),
       url('../scss/components/fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Light Italic';
  src: url('../scss/components/fonts/Raleway-LightItalic.eot');
  src: url('../scss/components/fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../scss/components/fonts/Raleway-LightItalic.woff') format('woff'),
       url('../scss/components/fonts/Raleway-LightItalic.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: $regular;
}

ul {
  padding-left: 0;
  list-style: none;
}
